<nav class="mod mod-navigation">
	<p>{{ node.text }}</p>
	<ul>
		<li><a href="#">This</a></li>
		<li><a href="#">is</a></li>
		<li><a href="#">{% if active == "sparta" %}<strong>{% endif %}Sparta{% if active == "sparta" %}</strong>{% endif %}</a></li>
	</ul>
</nav>